  <body>
    <header>
      <nav>
        <ul>
          <li>プロフィール</li>
          <li>作品</li>
          <li></li>
        </ul>
      </nav>
    </header>
    <div id="container">
      <div class="img-box">
        <div class="cover-slide hover-darken inview">
          <img class="img-zoom" src="img/uo4-1.JPG" />
        </div>
      </div>
      <div class="img-box">
        <div class="cover-slide hover-darken inview">
          <img class="img-zoom" src="img/uo4-1.JPG" />
        </div>
      </div>
      <div class="img-box">
        <div class="cover-slide hover-darken inview">
          <img class="img-zoom" src="img/uo4-1.JPG" />
        </div>
      </div>
    </div>

