  <body>

    <div class="container user-container">
      <div class="user-img-box"></div>
      <div class="user-body-box">
        <p>sssssssssssssssssss</p>
      </div>
    </div>
    <div class="container">
      <div class="img-box">
        <% @articles.each do |article| %>
        <div class="cover-slide hover-darken inview">
          <%= link_to article_path(article.id) do %>
          <span><%= image_tag article.image.to_s, class:"img-zoom" %></span>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    </div>