@charset "UTF-8";
.head-box {
  width: 100%;
  height: 400px;
  background-image: url("/img/top.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
}

.user-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.user-container .user-img-box {
  margin: 100px 0;
  display: inline-block;
  width: 180px;
  height: 200px;
  border-radius: 50%;
  background-image: url("/img/washi.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.user-container .user-body-box {
  width: 70%;
}

.user-container .user-body-box > h2 {
  text-align: center;
}

.user-container .user-body-box > tr,
.user-container .user-body-box td {
  padding: 1px 5px;
}

.container {
  width: 70%;
  margin: 0 auto 150px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #000;
  -webkit-box-shadow: 30px 30px 0px 0 #c8b7c4;
          box-shadow: 30px 30px 0px 0 #c8b7c4;
}

.container > h2 {
  text-align: center;
}

.container .img-box {
  width: 80%;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.cover-slide {
  display: inline-block;
  padding: 10px;
  width: 300px;
  position: relative;
  overflow: hidden;
  border: 1px solid #b1b1b1;
}

.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
}

.cover-slide.inview::after {
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

@keyframes kf-cover-slide {
  0% {
    left: 0;
    right: 100%;
  }
  50% {
    left: 0;
    right: 0;
  }
  100% {
    left: 100%;
    right: 0;
  }
}

.img-zoom {
  opacity: 0;
}

.inview .img-zoom {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: normal;
          animation-fill-mode: normal;
}

.inview .img-zoom:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@-webkit-keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    position: 1px;
  }
}

@keyframes kf-img-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  50.1% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    position: 1px;
  }
}

.hover-darken::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  pointer-events: none;
  -webkit-animation-name: kf-img-show;
          animation-name: kf-img-show;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: normal;
          animation-fill-mode: normal;
}

.hover-darken:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 180px;
  text-align: center;
  color: #fff;
}

.app:hover::before {
  content: "Webアプリ";
}

.illust:hover::before {
  content: "イラスト";
}

.show_box {
  width: 70%;
  background-color: #fff;
}

.show_box .show_title {
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.show_box > ul {
  list-style: none;
  margin: 0 auto;
  padding: 0 30px;
  width: 60%;
  border-bottom: 1px solid #000;
}

.show_box > ul .show_body {
  margin: 40px 30px;
}

.show_box .show_img_box {
  text-align: center;
}

.back {
  text-align: center;
  margin: 50px 0;
}
/*# sourceMappingURL=articles.css.map */